.drawer-container {
  height: 100%;
  padding: 24px;
}

.drawer-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.drawer-header h2 {
  margin: 0;
  height: fit-content;
}

.summary-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-bottom: 20px;
}

.filters-bar {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.alerts-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.alert-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mini-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.alert-drawer {
  border-radius: 0%;
  width: 420px;
  padding: 24px;
}
