<div class="toolbar">
  <div class="toolbar-left">
    <span class="lab-count">
      <strong>{{ totalCount() }}</strong> laboratories
    </span>
  </div>

  <div class="toolbar-right">

    <mat-form-field appearance="outline" class="filter-field" subscriptSizing="dynamic">
      <mat-label>Status</mat-label>
      <mat-select id="status-filter" value="All" (selectionChange)="statusChange.emit($event.value)">
        <mat-option value="All">All</mat-option>
        <mat-option value="Operational">OK</mat-option>
        <mat-option value="Warning">Warning</mat-option>
        <mat-option value="Critical">Critical</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="outline" class="filter-field" subscriptSizing="dynamic">
      <mat-label>Location</mat-label>
      <mat-select id="location-filter" value="All" (selectionChange)="locationChange.emit($event.value)">
        <mat-option value="All">All</mat-option>
        @for (loc of locations(); track loc) {
        <mat-option [value]="loc">{{ loc }}</mat-option>
        }
      </mat-select>
    </mat-form-field>


    <mat-button-toggle-group [value]="viewMode()" (change)="viewModeChange.emit($event.value)">
      <mat-button-toggle value="grid" title="Grid view">
        <mat-icon>grid_view</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="list" title="List view">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>


    <a mat-flat-button color="primary" id="add-laboratory-btn" routerLink="/laboratories/add">
      <mat-icon>add</mat-icon>
      Add Laboratory
    </a>
  </div>
</div>
