<div class="toolbar">
  <div class="toolbar-left">
    <span class="lab-count">
      <strong>{{ totalCount() }}</strong> {{ 'laboratories.title' | translate }}
    </span>
  </div>

  <div class="toolbar-right">

    <mat-form-field appearance="outline" class="filter-field" subscriptSizing="dynamic">
      <mat-label>{{ 'laboratories.filters.status' | translate }}</mat-label>
      <mat-select id="status-filter" value="All" (selectionChange)="statusChange.emit($event.value)">
        <mat-option value="All">{{ 'laboratories.status.all' | translate }}</mat-option>
        <mat-option value="Operational">{{ 'laboratories.status.ok' | translate }}</mat-option>
        <mat-option value="Warning">{{ 'laboratories.status.warning' | translate }}</mat-option>
        <mat-option value="Critical">{{ 'laboratories.status.critical' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="outline" class="filter-field" subscriptSizing="dynamic">
      <mat-label>{{ 'laboratories.filters.location' | translate }}</mat-label>
      <mat-select id="location-filter" value="All" (selectionChange)="locationChange.emit($event.value)">
        <mat-option value="All">{{ 'laboratories.status.all' | translate }}</mat-option>
        @for (loc of locations(); track loc) {
        <mat-option [value]="loc">{{ loc }}</mat-option>
        }
      </mat-select>
    </mat-form-field>


    <mat-button-toggle-group [value]="viewMode()" (change)="viewModeChange.emit($event.value)">
      <mat-button-toggle value="grid" title="Grid view">
        <mat-icon>grid_view</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="list" title="List view">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>


    <a mat-flat-button color="primary" id="add-laboratory-btn" routerLink="/laboratories/add">
      <mat-icon>add</mat-icon>
      {{ 'laboratories.add' | translate }}
    </a>
  </div>
</div>
